<mtapp:setting id="elastic_transcoder_region" label="<__trans phrase='ElasticTranscoder Region'>">
    <input type="text" name="elastic_transcoder_region" id="elastic_transcoder_region" value="<mt:GetVar name='elastic_transcoder_region'>" />
</mtapp:setting>
<mtapp:setting id="s3_region" label="<__trans phrase='S3 Region'>">
    <input type="text" name="s3_region" id="s3_region" value="<mt:GetVar name='s3_region'>" />
</mtapp:setting>
<mtapp:setting id="access_key_id" label="<__trans phrase='Access Key Id'>">
    <input type="text" name="access_key_id" id="access_key_id" value="<mt:GetVar name='access_key_id'>" />
</mtapp:setting>
<mtapp:setting id="secret_access_key" label="<__trans phrase='Secret Access Key'>">
    <input type="text" name="secret_access_key" id="secret_access_key" value="<mt:GetVar name='secret_access_key'>" />
</mtapp:setting>
